@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{ 
    list-style-type: none;
    margin:0;
}
    
body, * {
	font-family: 'Noto Sans KR', sans-serif;
}
.main_tema_header{ 
    background-color: black;
    
    height: 10rem;
}
.main_tema_top{ 
    color:#fff;
}
.main_tema_body_header{ 
    margin: 10rem;
    color:#ddd; 
}

.main_tema_body_cotainer{ 
    display: grid;
    grid-template-columns: repeat(3,minmax(300px,auto));
<<<<<<< HEAD
=======
    justify-items: center;
>>>>>>> origin/main
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD

=======
.main_tema_body_cardList{ 
    display: flex;
    
}
>>>>>>> origin/main
img{ 
    max-width: 100%;
    object-fit: fill;
}

.main_tema_body_cardList_hoverMode{ 
    display: none;
}
.grayscale{ 
    filter: grayscale(1);
    position: relative;
}
.grayscale:hover{ 
    filter:grayscale(0);
}

.main_tema_body_cardList_noneMode{ 
    display:none;
}
.main_tema_body_cardList_MobileMode{ 
    display: none;
}

.tema__img_Circle{ 
    display: grid;
    grid-template-columns: repeat(4,minmax(200px,auto));
    justify-content: center;
    align-items: center;
    margin-top:10rem;
    gap: 5rem;
    position: relative;
    left:auto;
    right: auto;
}

.tema__Circle_comment{ 
    
    color: #0066FF;
    font-weight: bold;
    position: absolute;
    right: 17.5%;
    left: auto;
    height: auto;
    

}


/* 배경 */
.backSky {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #111, #0e0f19);  
    overflow: hidden;
  }
  
  /* 별을 감싼 부모 */
  .sky {
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveStar 240s linear infinite;
  }
  
  /* 별 */
  .sky .star {
    fill: #fff;
    stroke: none;
    stroke-width: 0;
  }
  
  /* 별 이동효과 */
  @keyframes moveStar {
    from {
      transform: translate(-50%, -50%) rotate(0)
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg)
    }
  }
.img_DefaultMode{
    display: flex;
<<<<<<< HEAD
}
=======
}
>>>>>>> origin/main
