*{ 
    list-style-type: none;
    margin:0;
}
.main_tema_header{ 
    background-color: black;
    
    height: 10rem;
}
.main_tema_top{ 
    color:#fff;
}
.main_tema_body_header{ 
    margin: 10rem;
    color:#ddd; 
}

.main_tema_body_cotainer{ 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1024px,1fr));
    grid-template-rows: 1fr 1fr 1fr;
   
}

.main_tema_body_cardList{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
img{ 
    max-width: 100%;
    object-fit: fill;
}

.main_tema_body_cardList_hoverMode{ 
    display: none;
}
.grayscale{ 
    filter: grayscale(1);
    position: relative;
}
.grayscale:hover{ 
    filter:grayscale(0);
}

.main_tema_body_cardList_noneMode{ 
    display:none;
}
.main_tema_body_cardList_MobileMode{ 
    display: none;
}



/* 배경 */
.backSky {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #111, #0e0f19);  
    overflow: hidden;
  }
  
  /* 별을 감싼 부모 */
  .sky {
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveStar 240s linear infinite;
  }
  
  /* 별 */
  .sky .star {
    fill: #fff;
    stroke: none;
    stroke-width: 0;
  }
  
  /* 별 이동효과 */
  @keyframes moveStar {
    from {
      transform: translate(-50%, -50%) rotate(0)
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg)
    }
  }
